
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,html{
    width: 100%;
    height: 100vh;
    /* background-color:#465767 ; */
}

img{
    height: 70vh;
    width:100%;
}

.nav1{

    background-color: #004944;
    margin-top: 5%;
    padding-bottom: 5%;
    box-shadow: 10px 20px 60px #6e9ea3;      
    display: flex;
    justify-content: left;
    padding: 1rem 0 1rem 10rem;
    height: 60px;
     }
    
    
.nav-item {
    margin-left: 1%;
    margin-right: 1%;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    list-style-type: none;

}
.nav-item a {
             text-decoration: none;
            background: linear-gradient(#004f99);
            margin: 5px 5px;
            padding: 5px;
            color: white;
            border-radius: 20%;
            position: relative;
            top: 0.6rem;
        
        }

.hero h2{
    position: absolute;
    top: 260px;
    right: 100px;
    width: 400px;
    color: aliceblue;
    font-size: 40px;
}

.section-title h1{
    text-align: center;
    margin-top: 50px;
    font-size: 50px;
}
.section-title p{

    text-align: center;
    margin-top: 5px;
    margin-bottom: 10px;
}

.container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    /* background-color: #465767; */
}
.card{
    margin-top: 45px;
    width: 270px;
    border: 2px solid black;
    border-radius: 5px;
    /* background-color: #003d39; */
}

.card img{
    height: 300px;

}
.card h1{
    text-align: center;
}
.card p{
    font-size: 30px;
    display: inline;
}
.card del{
    
    font-size: 30px;
    margin-left: 70px;
}
.btn{
    position: relative;
    left: 40px;
    width: 90px;
    height: 35px;
    
    border-radius: 25px;
    background-color: #14c8e3;
    color: white;
    margin-top: 10px;
    margin-bottom: 15px;
}