*{
  padding: 0;
  margin: 0;
}
.body{
background-color: rgb(96, 90, 102);
margin: 0cap;
}
.card-container{
display: flex;
justify-content: center;
flex-wrap: wrap;
margin-top: 100px;  
box-shadow: 20px 20px 60px black; 
margin-bottom: 15rem;  
background-color: #a6a6a6;       
}
.card{
width: 250px;
background-color: #A4803C;
border-radius: 10px;
overflow:hidden;
box-shadow: 0px 2px 4px rgba(70, 63, 63, 0.2);   
margin: 20px;    
box-shadow: 20px 20px 60px black;      
}
.card img{
width: 100%;
height: auto;
}
.btn{
margin-top: 10%;
margin-bottom: 10%;
border-radius: 15%;
background-color: rgb(128, 128, 128);
text-transform: 0%;
}
.card{
font-size: 60%;
border: solid #122e43 5px;
}

.nav1{

background-color:  #7e7e7e;
margin-top: 0%;
padding-bottom: 2%;
box-shadow: 10px 20px 60px #001e3a);      

}  

.nav-item{
    margin-left: 1%;
   margin-right: 1%;
   text-transform: uppercase;
   text-decoration: none;
   color: white;
   list-style-type: none;
  
  }
  .nav-item a {
    text-decoration: none;
    background-color: #122e43;
    background: linear-gradient( #004f99);
    margin: 10px 20px;
    padding: 10px;
    color:white;
    border-radius: 20%;
    position: relative;
    top: 4rem;
    
   }

   .nav1 {
    display: flex;
    justify-content: right;
    padding: 1rem 0 1rem 0;
   }

   .logo img {
    width: 40%;
    position: relative;
    right: 10rem;
    bottom: 0.8rem;
    

   }

   .logo {
    display: flex;
    justify-content: left;
    margin: 0;
    padding: 0;
    mix-blend-mode:color;
   }
   .quote{
    margin-bottom: 3rem;
   }
   .footer{
    background-color: #4e4e4e;
    color: black;
    height: 3rem;
    padding-top: 1rem;
   }