*{
  padding: 0;
  margin: 0;
  font-family: 'poppins', sans-serif ;
  box-sizing: border-box;
}
.body{
background-color: rgb(123, 0, 245);
margin: 0cap;
}
.card-container{
display: flex;
justify-content: center;
flex-wrap: wrap;
margin-top: 100px;  
box-shadow: 20px 20px 60px black; 
margin-bottom: 15rem;  
background-color: #465767;       
}
.card{
width: 250px;
background-color: black;
border-radius: 10px;
overflow:hidden;
box-shadow: 0px 2px 4px rgba(70, 63, 63, 0.2);   
margin: 20px;    
box-shadow: 20px 20px 60px black;      
}
.card img{
width: 100%;
height: auto;
}
.btn{
margin-top: 10%;
margin-bottom: 10%;
border-radius: 15%;
background-color: rgb(128, 128, 128);
text-transform: 15%;
border-radius: 1rem;
}
.card{
font-size: 60%;
border: solid #59038eb9 5px;
}

.nav1{

background-color: #004944;
margin-top: 5%;
padding-bottom: 5%;
box-shadow: 10px 20px 60px #6e9ea3;      
display: flex;
justify-content: left;
padding: 1rem 0 1rem 10rem;
height: 60px;
 }


.nav-item{
    margin-left: 1%;
   margin-right: 1%;
   text-transform: uppercase;
   text-decoration: none;
   color: white;
   list-style-type: none;
  
  }
  .nav-item a {
    text-decoration: none;
    background: linear-gradient( #004f99);
    margin: 5px 5px;
    padding: 5px;
    color:white;
    border-radius: 20%;
    position: relative;
    top: 0.6rem;
    
   }

   

   .logo img {
    width: 10%;
    position: relative;
    right: 10rem;
    bottom: 0.8rem;
    mix-blend-mode: color-burn;
    

   }

   .logo {
    display: flex;
    justify-content: left;
    margin: 0;
    padding: 0;
    
   }
   .quote{
    margin-bottom: 3rem;
   }
   .footer{
    background-color: #4e4e4e;
    color: black;
    height: 3rem;
    padding-top: 1rem;
   }
  .searchbar{ 
    top: 2rem;
    padding-right: 35%;
    width: 100%;
    height: 100%;
    background: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    } 
  form{
    background: #ff0000;
    width: 600px;
    height: 55px;
    display: flex;
    border: #4e4e4e;
  }
  form input{
    flex: 1;
    border: 8px;
    outline: none;
    

  }
 form button{
  background: #d80000;
  padding: 10px 50px;
  border: none;
  outline:none;
  color: #fff;
  letter-spacing: 1px;
  cursor: pointer;
}
form .fas fa-search{
  
}
 .search1{
  font-size: 2rem;
   position: relative;
    top: 2rem;
  }
  .search2{
    font-size: 2rem;
    position: relative;
    top: 2rem;
    border-radius: 3rem;
  }
.search3{
  font-size: 2rem;
  margin-left: 1%;
  margin-right: 1%;

  
  border: none;
  text-decoration: none;
  color: rgb(0, 0, 0);
  list-style-type: none;
  text-decoration: none;
    background-color:rgb(0, 129, 120);
    background: linear-gradient( #004f99);
    margin: 0px 5px;
    padding: 5px;
    color:rgb(0, 0, 0);
    border-radius: 3rem;
    position: relative;
    top: 2rem;
   
}
